In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

base_url = "https://books.toscrape.com/catalogue/page-{}.html"
books_data = []

for page in range(1, 51):
    url = base_url.format(page)
    response = requests.get(url)
    soup = BeautifulSoup(response.text, "html.parser")
    books = soup.find_all("article", class_="product_pod")
    
    print(f"Scraping page {page}...")  # progress indicator
    
    for book in books:
        title = book.h3.a["title"]
        
        price = book.find("p", class_="price_color").text.strip()
        price = price.replace("£", "").replace("Â", "").strip()
        
        availability = book.find("p", class_="instock availability").text.strip()
        star_rating = book.find("p", class_="star-rating")["class"][1]
        
        books_data.append({
            "Title": title,
            "Price": float(price),
            "Availability": availability,
            "Star Rating": star_rating
        })

df = pd.DataFrame(books_data)
df.to_csv("books.csv", index=False, encoding="utf-8")

print("Scraping completed! Data saved to books.csv")
df.head()

Scraping page 1...
Scraping page 2...
Scraping page 3...
Scraping page 4...
Scraping page 5...
Scraping page 6...
Scraping page 7...
Scraping page 8...
Scraping page 9...
Scraping page 10...
Scraping page 11...
Scraping page 12...
Scraping page 13...
Scraping page 14...
Scraping page 15...
Scraping page 16...
Scraping page 17...
Scraping page 18...
Scraping page 19...
Scraping page 20...
Scraping page 21...
Scraping page 22...
Scraping page 23...
Scraping page 24...
Scraping page 25...
Scraping page 26...
Scraping page 27...
Scraping page 28...
Scraping page 29...
Scraping page 30...
Scraping page 31...
Scraping page 32...
Scraping page 33...
Scraping page 34...
Scraping page 35...
Scraping page 36...
Scraping page 37...
Scraping page 38...
Scraping page 39...
Scraping page 40...
Scraping page 41...
Scraping page 42...
Scraping page 43...
Scraping page 44...
Scraping page 45...
Scraping page 46...
Scraping page 47...
Scraping page 48...
Scraping page 49...
Scraping page 50...
✅ Scraping completed! Data saved to books.csv

                                   Title  Price Availability Star Rating
0                   A Light in the Attic  51.77     In stock       Three
1                     Tipping the Velvet  53.74     In stock         One
2                             Soumission  50.10     In stock         One
3                          Sharp Objects  47.82     In stock        Four
4  Sapiens: A Brief History of Humankind  54.23     In stock        Five

In [11]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

url = "https://www.imdb.com/chart/top/"
response = requests.get(url, headers={"User-Agent": "Mozilla/5.0"})
soup = BeautifulSoup(response.text, "html.parser")

movies = soup.select("li.ipc-metadata-list-summary-item")
data = []

for rank, movie in enumerate(movies, start=1):
    title = movie.find("h3").get_text(strip=True)
    year = movie.select_one(".cli-title-metadata-item").get_text(strip=True)
    rating = movie.select_one(".ipc-rating-star--imdb").get_text(strip=True).split()[0]
    data.append({
        "Rank": rank,
        "Title": title,
        "Year": year,
        "Rating": rating
    })

df = pd.DataFrame(data)
df.to_csv("imdb_top250.csv", index=False, encoding="utf-8")
print("Scraping completed! Data saved to imdb_top250.csv")
df.head()

Scraping completed! Data saved to imdb_top250.csv

   Rank                        Title  Year     Rating
0     1  1. The Shawshank Redemption  1994  9.3(3.1M)
1     2             2. The Godfather  1972  9.2(2.2M)
2     3           3. The Dark Knight  2008  9.1(3.1M)
3     4    4. The Godfather: Part II  1974  9.0(1.5M)
4     5              5. 12 Angry Men  1957  9.0(948K)

In [13]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

url = "https://www.timeanddate.com/weather/"
response = requests.get(url, headers={"User-Agent": "Mozilla/5.0"})
soup = BeautifulSoup(response.text, "html.parser")

table = soup.find("table", class_="zebra fw tb-wt")
rows = table.find_all("tr")[1:]  # skip header row

data = []

for row in rows:
    cols = row.find_all("td")
    city = cols[0].get_text(strip=True)
    temp = cols[1].get_text(strip=True)
    condition = cols[2].get_text(strip=True)
    
    data.append({
        "City": city,
        "Temperature": temp,
        "Condition": condition
    })

df = pd.DataFrame(data)
df.to_csv("weather.csv", index=False, encoding="utf-8")
print("Scraping completed! Data saved to weather.csv")
df.head()

AttributeError: 'NoneType' object has no attribute 'find_all'